{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="page-block">
		<div class="row align-items-center">
			<div class="col-md-12">
				<div class="page-header-title">
					<h3 class="m-b-10">IOT Control Centre</h3>
				</div>
			</div>
		</div>
</div>
<div class="row">
	<!-- [ sample-page ] start -->
	<div class="col-sm-12">
		<div class="card">

			<div class="card-header">
				<h5>Control Panel</h5>
			</div>
			<div class="card-body">
				<p>
					<button type="button" class="btn btn-primary">Switch Onnnnn</button>
					<button type="button" class="btn btn-secondary">Swtch Off</button>
				</p>
			</div>
		</div>
	</div>
	<!-- [ sample-page ] end -->
</div>
<!-- [ Main Content ] end -->
{% endblock content %}
